/*******************************/
/******** COMMON STYLES ********/
/*******************************/

/****** Layout ******/

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px; 
	text-align: center;
	margin: 0;
	padding: 0;
}

#background_header {
	position:absolute;
	width: 100%;
	overflow: visible;
}

#inGame #background_header {
	height: 300px;
	width: 100%;
	background: #eee url(../images/theme/background_inGame_header.jpg) repeat-x top left;
}

#inGame {
    background: #eee url(../images/theme/background_inGame_repeat.jpg) repeat 0 300px;
}

#window {
	margin: auto;
    width: 770px;
}

#footer {
    padding-top: 5px;
    text-align: center;
    width: 100%;
    float: left;
    clear: both;
}


/****** Icons ******/

.s_ico { /* La imagen es un trozo de un "sprite" vertical donde cada icono está debajo del otro */
	float: left;
	width: 12px;
	height: 12px;
	margin-top: 0px;
	background-image: url(../images/theme/icons/small_icons.png);
	background-color: transparent;
	background-repeat: no-repeat;
	/* background-position: -12*n. Donde 'n' es el numero del icono. Esta propiedad hay que ponerla en el attr style */ 
}

.m_ico { /* La imagen es un trozo de un "sprite" vertical donde cada icono está debajo del otro */
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 0px;
	background-image: url(../images/theme/icons/medium_icons.png);
	background-color: transparent;
	background-repeat: no-repeat;
	/* background-position: -16*n. Donde 'n' es el numero del icono. Esta propiedad hay que ponerla en el attr style */ 
}

div.m_middle {
	margin: auto;
	width: 16px;
}


/*** Tooltip ***/

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid black;
	background: white url(../images/theme/table2_th_fade.jpg) repeat-x bottom left;
	padding: 5px;
}

#tooltip h3, #tooltip div { 
	margin: 0;
	text-align: left;
}

#tooltip div { 
	color: #333;
}




/****** Content. ******/

#content {
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 200px;
    width: 100%;
	float: left;
    clear: both;
}

div.p_header {
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	padding-left: 30px;
	display: block;
}

div.p_content {
	text-align: left;
	padding-left: 40px;
	display: block;
}

div.p_content span.label { 
    text-align: left;
    font-weight: bold;
	line-height:2.3em;
}

p.info {
	margin: 10px 10px 20px 10px;
	color: #444;
	text-align: left;
}

p.info_mini {
	margin: 5px 0px 0px 0px;
    font-size: 90%;
}

.data_row { /* Por ejemplo los datos a la derecha de la imagen del monstruo */
	float: left;
	padding: 2px;
	text-align: left;
	width: 100%;
}

.data_label {
	color: #dd4411;
	font-weight: bold;
}

.data_value {
	margin-left: 5px;
}

.cursor_help {
	cursor: help;
}

.bold {
	font-weight: bold;
}

/***** Info with icon ******/

div.info_slot {
	float: left;
	margin: 5px 10px 5px 10px;
	width: 740px;
    text-align: left;
	color: #444;
}

div.info_slot_content {
	float: left;
	width: 715px; /* info_slot.width - 25 */
}

h3.info_slot_header {
	padding: 0 0 5px 0;
	margin: 0;
	font-size: 14px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
}

/***** FlashMessages *******/

#flashMessages {
	float: left;
	width: 770px;
	margin: auto;
}

.flashMessageWrapper {
	float: left;
	width: 100%;
}

.flashMessage {
	text-align: left;
	margin: 10px 10px 0 10px;
	padding: 4px 10px 4px 8px;
	background: white url(../images/theme/table2_th_fade.jpg) repeat-x bottom;
	border: 1px solid #666;
}

.flashMessage_ERROR {
	color: #a00;
	border-color: #600;
}

/****** Error messages. ******/

.errorMessage {
    font-weight: bold;
    color: red;
    display: block;
}

.actionInfo_ERROR {
	border: 1px solid red;
	width: 75%;
	margin: auto;
	display: block;
	padding: 5px;
	margin-top: 10px;
}

.actionInfo_INFO {
	border: 1px solid green;
	width: 75%;
	margin: auto;
	display: block;
	padding: 5px;
	margin-top: 10px;
}