/*******************************/
/******** COMMON STYLES ********/
/*******************************/


/****** Layout ******/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	margin: 0;
	padding: 0;
}

#background_header {
	position: absolute;
	width: 100%;
	overflow: visible;
}

#window {
	margin: auto;
	width: 770px;
}

#footer {
	padding-top: 5px;
	text-align: center;
	width: 100%;
	float: left;
	clear: both;
}


/****** Icons ******/

img.icon {
	display: inline;
}
.s_ico {
	/* La imagen es un trozo de un "sprite" vertical donde cada icono está debajo del otro */
	float: left;
	width: 12px;
	height: 12px;
	margin: 2px 0;
	background-image: url(../images/theme/icons/small_icons.png);
	background-color: transparent;
	background-repeat: no-repeat;
	/* background-position: -12*n. Donde n es el numero (id) del icono. Esta propiedad hay que ponerla en el attr style */
}

.m_ico {
	/* La imagen es un trozo de un "sprite" vertical donde cada icono está debajo del otro */
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 0px;
	background-image: url(../images/theme/icons/medium_icons.png);
	background-color: transparent;
	background-repeat: no-repeat;
	/* background-position: -16*n. Donde 'n' es el numero del icono. Esta propiedad hay que ponerla en el attr style */
}

div.m_middle {
	margin: auto;
	width: 16px;
}


/*** Tooltip ***/

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid black;
	background: white url(../images/theme/table2_th_fade.jpg) repeat-x
		bottom left;
	padding: 5px;
}

#tooltip h3,#tooltip div {
	margin: 0;
	text-align: left;
}

#tooltip div {
	color: #333;
}


/****** Content (common) ******/

div.p_header {
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	padding-left: 30px;
	display: block;
}

div.p_content {
	text-align: left;
	padding-left: 40px;
	display: block;
}

div.p_content span.label {
	text-align: left;
	font-weight: bold;
	line-height: 2.3em;
}

p.info {
	margin: 10px 30px 20px;
	color: #444;
	text-align: left;
	color: #444;
}

p.info_mini {
	margin: 5px 0px 0px 0px;
	font-size: 90%;
}

.data_row { /* Por ejemplo los datos a la derecha de la imagen del monstruo */
	float: left;
	padding: 2px;
	text-align: left;
	width: 100%;
}

.data_label {
	color: #dd4411;
	font-weight: bold;
}

.data_value {
	margin-left: 5px;
}

/* Info slot without icon */
p.info_slot { float: left; margin: 10px 30px; width: 700px; text-align: left; color: #444; }

/* Info slot with icon: used by info_message customtag */
div.info_slot { float: left; margin: 15px; width: 720px; text-align: left; color: #444; }
div.info_slot .info_slot_content { float: left; width: 690px; /* info_slot:width - 30 */ font-size: 12px; }
div.info_slot .info_slot_content h3.info_slot_header { padding: 0 0 5px 0; margin: 0; font-size: 14px; font-weight: bold; }
div.info_slot .info_slot_content ul { margin: 1em 0 1em 18px; list-style: disc outside; }
div.info_slot .info_slot_content ul li { list-style: disc outside; font-size: 12px; }

/* Enlaces que suelen ir en la parte inferior de una ventana */
div.more_actions_links { float: left; width: 100%; text-align: center; margin: 25px 0 15px 0; }
div.more_actions_links a { margin: 0 5px; font-size: 14px;	}

/**** Simple styles ****/

.bold { font-weight: bold; }
.float_left { float: left; }
.text_align_left { text-align: left; }
.text_align_rigth { text-align: rigth; }
.text_align_center { text-align: center; }
.full_block { float: left; display: inline; width: 100%; }
.cursor_wait { cursor: wait; }
.cursor_help { cursor: help; }
.cursor_pointer { cursor: pointer; }


/***** FlashMessages *******/

#flashMessages {
	float: left;
	width: 770px;
	margin: auto;
}

.flashMessageWrapper {
	float: left;
	width: 100%;
}

.flashMessage {
	text-align: left;
	margin: 10px 10px 0 10px;
	padding: 4px 10px 4px 8px;
	background: white url(../images/theme/table2_th_fade.jpg) repeat-x
		bottom;
	border: 1px solid #666;
}

.flashMessage_ERROR {
	color: #a00;
	border-color: #600;
}


/****** Error messages ******/

.errorMessage {
	font-weight: bold;
	color: red;
	display: block;
}

.actionInfo_ERROR {
	border: 1px solid red;
	width: 75%;
	margin: auto;
	display: block;
	padding: 5px;
	margin-top: 10px;
}

.actionInfo_INFO {
	border: 1px solid green;
	width: 75%;
	margin: auto;
	display: block;
	padding: 5px;
	margin-top: 10px;
}