body{background-color:#999;color:white;padding-top:20px;font-family:helvetica;font-size:12px;text-align: center;}
/*below is the stuff for the compact example*/
.pikachooseCompact{width:510px;margin:0 auto 50px auto;position:relative;}
/* This is the ul you have all your images in */
.pikachooseCompact ul{padding:5px 0 0 5px;width:495px;height:15px;margin:0;overflow:hidden;position:absolute;bottom:6px;left:3px;background:url('/images/theme/pikachosse/black.png') top left;z-index:99;}
.pikachooseCompact ul li{float: left;margin:0 6px 4px 0;positrgb(50%, 25%, 25%);ion:relative;background:url('/images/theme/pikachosse/thumb-circle-empty.png') top left no-repeat;}
.pikachooseCompact ul li div img{position:relative;cursor:pointer;}
/* this is the surroundner for all your elements. This is also the fake border around the main img and room for caption */
.pika_main{width:506px;height:325px;display:block;position:relative;}
/*sine we give it the fake border, you need to position the image a little. */
.pika_main_img{position:absolute;top:2px;left:2px;}
.pika_back_img{position:relative;top:0px;}
.pika_subdiv{position:relative;border:1px solid #555;background:#777;padding:2px;}
.pika_subdiv img, .pika_subdiv a img{border:none;}
.pika_caption{height:16px;padding:4px 5px 0 0;text-align:right;position:absolute;bottom:7px;right:3px;z-index:100;}
.pika_caption a{color:white;}

.pika_play{position:absolute;z-index:1;left:50%;margin-left:-25px;width:50px;top:3px;}
.pika_play a{position:relative;margin-left:auto;cursor:pointer;display: block;width:50px;height:50px;}
.pika_play a{position:relative;margin-left:auto;cursor:pointer;display: block;width:50px;height:50px;}

/* if you want to 'hide' these jus make their height and width 1px */
.pika_prev_hover{position:absolute;top:2px;left:2px;height:456px;width:100px;}
.pika_next_hover{position:absolute;top:2px;right:2px;height:456px;width:100px;}
