/****** Forms. ******/
form {
	float: left;
	width: 760px;
	margin-bottom: 10px;
}

div.field {
	float: left;
	width: 760px;
	display: inline;
	padding-top: 1em;
}

div.field span.label {
	float: left;
	text-align: right;
	font-weight: bold;
	width: 49%;
	line-height: 1.6em;
}

div.field span.entry {
	float: right;
	text-align: left;
	width: 49%;
}

span.label {
	margin-left: 10px;
	text-align: left;
}

span.entry {
	margin-left: 5px;
	text-align: left;
}

input,
select,
textarea {
	background-color: #eee;
	border: 1px solid black;
}

.end_button {
	clear: both;
	padding-top: 1em;
	text-align: center;
	width: 100%;
}

.button input,
.button_box { /* background-image on window_tag */
	border: 1px solid black;
	background-color: #999;
	background-position: 0 -2px;
	color: white;
	font-weight: bold;
	padding: 0 5px 0 5px;
	cursor: pointer;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

.button_box a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.button input:hover,
.button_box:hover,
.button_box a:hover {
	cursor: pointer;
	color: #ff9;
	text-decoration: none;
}

span.button {
	padding-top: 1em;
	text-align: left;
	margin-left: 15px;
}

form div.p_content {
	margin: 10px 0 20px 0;
}