/***** FRONT PAGE STYLES *****/

/*** Layout ***/

body#frontPage {
	background: #eee url('/images/theme/frontPage/background_repeat.jpg') repeat 0 300px;
}

#container_for_background {
	background: #eee url('/images/theme/frontPage/background_header.jpg') repeat-x left top;
	float: left; display: inline;
	width: 100%; height: 300px;
}

#body_wrapper {
  width: 770px;
  margin-left: auto;
  margin-right: auto;
}

.body_full_block,
#frontPageWindow {
  float: left; display: inline;
  width: 770px;
  margin: 0;
  padding: 0;
}

#monsters_logo_wrapper {
	float: left;
	width: 770px;
	height: 250px;
	background: url('/images/thearsmonsters_logo.png') no-repeat center center;
}

#monsters_logo {
	background: url('/images/theme/frontPage/logo_frontPage.png') no-repeat top left;
	width: 1252px;
	height: 250px;
	position: relative;
	left: -236px;
}

#frontPageWindow { float: left; display: inline; }
#frontPageWindow_content {
	padding-bottom: 10px;
	background: white url('/images/theme/table2_th_fade.jpg') repeat-x bottom left;
}

#footer { margin: 20px 0; text-align: center; }
#footer a { text-decoration: none; color: #444;  }
#footer a:hover { text-decoration: underline; }



/*** Login Panel (top) ***/

#loginPanel { text-align: center; }
#loginPanel div.rounded_window { margin-bottom: 0; }
#loginPanel .atMiddle {
	float: left;
	background: #447 url('/images/theme/frontPage/login_panel_background.png') repeat-x bottom left;
	padding: 12px 0 0 0;
	width: 768px; /* 770 minus borders */
	border-left: 1px solid black;
	border-right: 1px solid black;
	font-size: 14px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
}
#loginPanel .bm { background: #114 url(/images/theme/frontPage/login_panel_background_bottom.png) repeat-x bottom left;}
#loginPanel .bl { background: transparent url(/images/theme/frontPage/login_panel_background_bottom_left.png); }
#loginPanel .br { background: transparent url(/images/theme/frontPage/login_panel_background_bottom_right.png); }
#loginPanel input#login{ margin: 0 5px 0 8px; }
#loginPanel input#password{ margin: 0 5px 0 8px; }
#loginPanel input#remember{ margin: 0 2px 1px 0; vertical-align: middle; }
#loginPanel .loginErrors {
	border: 1px solid black;
	background: white url(/images/theme/windows/red/header_repeat-x.png) repeat-x 0 -27px;
	padding: 5px;
	margin: 0 20px 10px 20px;
}
#loginPanel .loginErrors .loginError { margin: 3px 10px; display: block; color: #444; }
#loginPanel .loginErrors .loginError .errorMessage { display: inline; }
#loginPanel .loginBlock { margin-right: 10px; }
#loginWelcome { width: 770px; padding: 5px; }
#loginWelcome .message { margin: 0 5px 0 0; }


/**** Game presentations ****/

#playNowForFree_button {
	float: left;
	width: 200px;
	height: 22px;
	margin: 20px 274px; /* width exacto para que quede centrado en un container de 760px */
	text-align: center;
}

#playNowForFree_button a {
	float: left; display: inline;
	width: 100%; height: 100%;
	margin: 0; padding: 0;
	line-height: 20px;
	font-size: 14px;
}

/**** Credits ****/

#credits ul#dev_team_list { }

#credits ul#dev_team_list li {
    margin: 10px 0 20px 0;
    padding: 0 0 0 10px;
    background: transparent none no-repeat top left;
}

#credits ul#dev_team_list li h3 { font-weight: bold; }
#credits ul#dev_team_list li h3:hover { text-decoration: underline; cursor: pointer; }

#credits ul#dev_team_list li p {
    color: #666;
    text-align: left;
    font-size: 14px;
    margin: 0 0 14px 15px;
}

#credits ul#dev_team_list li a {
    color: #444;
    font-size: 14px;
    text-decoration: underline;
}

#credits ul#dev_team_list li div.developer_details {
	color: #666;
    text-align: left;
    font-weight: none;
    font-size: 14px;
    margin: 5px 0 0 15px;
    padding: 0 0 0 86px;
    background: transparent none no-repeat 0 5px;
}

#credits ul#dev_team_list li div.developer_details .quoteAboutTheProject .quotes {
	font-size: 24px;
	font-weight: bold;
}
#credits ul#dev_team_list li#MarioIzquierdo .developer_details {	background-image: url('/images/photos/MarioIzquierdo.png'); }
#credits ul#dev_team_list li#AngelRomo .developer_details {			background-image: url('/images/photos/AngelRomo.png'); }
#credits ul#dev_team_list li#FcoJavierGarcia .developer_details { 	background-image: url('/images/photos/FcoJavierGarcia.png'); }
#credits ul#dev_team_list li#DiegoDarriba .developer_details { 		background-image: url('/images/photos/DiegoDarriba.png'); }
#credits ul#dev_team_list li#GuilleGefaell .developer_details {		background-image: url('/images/photos/GuilleGefaell.png'); }
#credits ul#dev_team_list li#ManuelGonzalez .developer_details { 	background-image: url('/images/photos/ManuelGonzalez.png'); }

#credits ul#tech_info_list { margin: 20px 0 0 0; }
#credits ul#tech_info_list li {
    margin: 10px 0 25px 0;
    padding: 0 0 0 75px;
    background: transparent none no-repeat top left;
	list-style: none outside none;
}
#credits ul#tech_info_list li h3 { font-weight: bold; }
#credits ul#tech_info_list li#tech_info_gae { 		background-image: url('/images/logos/gae.gif');	}
#credits ul#tech_info_list li#tech_info_jdo {		background-image: url('/images/logos/jdo.gif'); }
#credits ul#tech_info_list li#tech_info_spring {	background-image: url('/images/logos/spring.png'); }
#credits ul#tech_info_list li#tech_info_struts {	background-image: url('/images/logos/struts.gif'); }
#credits ul#tech_info_list li#tech_info_jquery {	background-image: url('/images/logos/jquery.png'); }
#credits ul#tech_info_list li#tech_info_junit {		background-image: url('/images/logos/junit.gif'); }
#credits ul#tech_info_list li#tech_info_bitbucket {	background-image: url('/images/logos/bitbucket.png'); }
#credits ul#tech_info_list li#tech_info_eclipse {	background-image: url('/images/logos/eclipse.jpg'); }
#credits ul#tech_info_list li#tech_info_others {	background-image: url('/images/logos/others.png'); }