/***** FRONT PAGE STYLES *****/
#frontPage #background_header {
	height: 300px;
	width: 100%;
	background: #eee url(../images/theme/frontPage/background_header.jpg)
		repeat-x top left;
}

#frontPage {
	background: #eee url(../images/theme/frontPage/background_repeat.jpg)
		repeat 0px 300px;
}

#monsters_logo_wrapper {
	float: left;
	width: 770px;
	height: 250px;
	background: url(../images/thearsmonsters_logo.png) no-repeat center
		center;
}

#monsters_logo {
	background: url(../images/theme/frontPage/logo_frontPage.png) no-repeat
		top left;
	width: 1252px;
	height: 250px;
	position: relative;
	left: -236px;
}

#playNowForFree_button {
	width: 200px;
	height: 20px;
	margin: 20px auto;
}

#frontPageWindow {
	float: left;
}

#frontPageWindow_content {
	padding-bottom: 10px;
	background: white url(../images/theme/table2_th_fade.jpg) repeat-x
		bottom left;
}

/*** Login Panel (top) ***/
#loginPanel {
	float: left;
	width: 770px;
	padding: 0;
}

#loginPanel div.rounded_window {
	margin-bottom: 0;
}

#loginPanel .atMiddle {
	float: left;
	background: #447
		url(../images/theme/frontPage/login_panel_background.png) repeat-x
		bottom left;
	padding: 12px 0 0 0;
	width: 768px; /* 770 with borders */
	border-left: 1px solid black;
	border-right: 1px solid black;
	font-size: 14px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
}

#loginPanel .bm {
	background: #114
		url(../images/theme/frontPage/login_panel_background_bottom.png)
		repeat-x bottom left;
}

#loginPanel .bl {
	background: transparent
		url(../images/theme/frontPage/login_panel_background_bottom_left.png);
}

#loginPanel .br {
	background: transparent
		url(../images/theme/frontPage/login_panel_background_bottom_right.png)
		;
}

.loginErrors {
	border: 1px solid black;
	background: white url(../images/theme/windows/red/header_repeat-x.png)
		repeat-x 0 -27px;
	padding: 5px;
	margin: 0 20px 10px 20px;
	color: white;
}

.loginBlock {
	margin-right: 10px;
}