
/***** FRONT PAGE STYLES *****/

#frontPage #background_header {
	height: 300px;
	width: 100%;
	background: #eee url(../images/theme/frontPage/background_header.jpg)
		repeat-x top left;
}

#frontPage {
	background: #eee url(../images/theme/frontPage/background_repeat.jpg)
		repeat 0px 300px;
}

#monsters_logo_wrapper {
	float: left;
	width: 770px;
	height: 250px;
	background: url(../images/thearsmonsters_logo.png) no-repeat center
		center;
}

#monsters_logo {
	background: url(../images/theme/frontPage/logo_frontPage.png) no-repeat
		top left;
	width: 1252px;
	height: 250px;
	position: relative;
	left: -236px;
}

#frontPageWindow {
	float: left;
}

#frontPageWindow_content {
	padding-bottom: 10px;
	background: white url(../images/theme/table2_th_fade.jpg) repeat-x
		bottom left;
}

#playNowForFree_button {
	float: left;
	width: 200px;
	height: 22px;
	margin: 20px 274px; /* width exacto para que quede centrado en un container de 760px */
}

#playNowForFree_button a {
	float: left; display: inline;
	width: 100%; height: 100%;
	margin: 0; padding: 0;
	line-height: 20px;
	font-size: 14px;
}


/*** Login Panel (top) ***/

#loginPanel {
	float: left;
	width: 770px;
	padding: 0;
}

#loginPanel div.rounded_window {
	margin-bottom: 0;
}

#loginPanel .atMiddle {
	float: left;
	background: #447
		url(../images/theme/frontPage/login_panel_background.png) repeat-x
		bottom left;
	padding: 12px 0 0 0;
	width: 768px; /* 770 with borders */
	border-left: 1px solid black;
	border-right: 1px solid black;
	font-size: 14px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
}

#loginPanel .bm {
	background: #114
		url(../images/theme/frontPage/login_panel_background_bottom.png)
		repeat-x bottom left;
}

#loginPanel .bl {
	background: transparent
		url(../images/theme/frontPage/login_panel_background_bottom_left.png);
}

#loginPanel .br {
	background: transparent
		url(../images/theme/frontPage/login_panel_background_bottom_right.png)
		;
}

.loginErrors {
	border: 1px solid black;
	background: white url(../images/theme/windows/red/header_repeat-x.png)
		repeat-x 0 -27px;
	padding: 5px;
	margin: 0 20px 10px 20px;
	color: white;
}

.loginBlock {
	margin-right: 10px;
}



/**** Credits ****/

#credits ul.dev_team_list{

}

#credits ul.dev_team_list li {
    margin: 0 0 15px 0;
    padding: 0 0 0 10px;
    font-weight:bold;
}

#credits ul.dev_team_list li .function{
    color: #999;
    text-align: left;
    font-weight: none;
    font-size:12px;
    margin: 0 0 0 15px;
}

#credits ul.dev_team_list button{
    margin: 0 0 0 10px;
}

#credits ul.dev_team_list div.personal_info{
	color: #666;
    text-align: left;
    font-weight: none;
    font-size:14px;
    margin: 0 5px 0 10px;
}

#credits ul.tech_info_list {
    
}

#credits ul.tech_info_list li {
    margin: 0 0 20px 0;
    padding: 0 0 0 75px;
    background: transparent none no-repeat top left;
}

#credits ul.tech_info_list li h3 {
    font-weight: bold;
}

#credits ul.tech_info_list li#tech_info_gae {
	background-image: url('../images/logos/gae.gif');
}

#credits ul.tech_info_list li#tech_info_jdo {
    background-image: url('../images/logos/jdo.gif');
}

#credits ul.tech_info_list li#tech_info_spring {
    background-image: url('../images/logos/spring.png');
}

#credits ul.tech_info_list li#tech_info_struts {
    background-image: url('../images/logos/struts.gif');
}

#credits ul.tech_info_list li#tech_info_jquery {
    background-image: url('../images/logos/jquery.png');
}

#credits ul.tech_info_list li#tech_info_junit {
    background-image: url('../images/logos/junit.gif');
}

#credits ul.tech_info_list li#tech_info_bitbucket {
    background-image: url('../images/logos/bitbucket.png');
}

#credits ul.tech_info_list li#tech_info_eclipse {
    background-image: url('../images/logos/eclipse.jpg');
}

#credits ul.tech_info_list li#tech_info_others {
    background-image: url('../images/logos/others.png');
}