/***** IN GAME STYLES *****/

/*** Layout ***/
body#inGame { 
	background: #eee url(/images/theme/background_inGame_repeat.jpg) repeat 0 300px; 
}

#container_for_background {
	background: #eee url('/images/theme/background_inGame_header.jpg') repeat-x left top;
	float: left; display: inline;
	width: 100%; height: 300px;
}

#body_wrapper {
  width: 770px;
  margin-left: auto;
  margin-right: auto;
}

.body_full_block {
  float: left; display: inline;
  width: 770px;
  margin: 0;
  padding: 0;
}

#content {
	float: left; display: inline;
	width: 100%;
	min-height: 200px;
	margin: 10px 0;
}

#footer { margin: 20px 0; text-align: center; }
#footer a { text-decoration: none; color: #444;  }
#footer a:hover { text-decoration: underline; }



/** Estilo imagenes en las pantallas misiones, alianzas y ayuda **/

#not_implemented_page_image_wrapper { float:left; width: 100%; margin: 20px 0; text-align: center; }
#not_implemented_page_image_wrapper img { border: 1px solid #ccc; display: inline; padding: 5px;
    -webkit-box-shadow: 0px 1px 5px #bbb; -moz-box-shadow: 0px 1px 5px #bbb; box-shadow: 0px 1px 5px #bbb;
}
