body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	margin: 0;
	padding: 0;
}

#inGame #background_header {
	height: 300px;
	width: 100%;
	background: #eee url(../images/theme/background_inGame_header.jpg)
		repeat-x top left;
}

#inGame {
	background: #eee url(../images/theme/background_inGame_repeat.jpg)
		repeat 0 300px;
}

#window {
	margin: auto;
	width: 770px;
}

#footer {
	padding-top: 5px;
	text-align: center;
	width: 100%;
	float: left;
	clear: both;
}

/** Content **/
#content {
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 200px;
	width: 100%;
	float: left;
	clear: both;
}


/** Mensaje de Ayuda: help.do **/
#HelpNotImplemented_content {
	padding-top: 12px;	
}

/** Estilo imagenes en las pantallas misiones, alianzas y ayuda **/
#not_implemented_page_image_wrapper { float:left; width: 100%; margin: 10px 0px; text-align: center; }
#not_implemented_page_image_wrapper img { border: 1px solid #ccc; display: inline; padding: 5px;
    -webkit-box-shadow: 0px 1px 5px #bbb; -moz-box-shadow: 0px 1px 5px #bbb; box-shadow: 0px 1px 5px #bbb;
}
