
/*** Rooms of the lair ***/

ul#rooms { float: left; clear: both; margin: 15px 0  20px 42px; padding: 0; list-style: none; }
ul#rooms li { float: left; cursor: pointer; background: no-repeat 0 0; }
ul#rooms li.room { width: 75px; padding: 100px 0 0 0; margin: 0; }
ul#rooms li.room:hover { background-position: -75px 0; }
ul#rooms li.end_of_lair  { width: 20px; height: 100px; cursor: default; }
ul#rooms li.end_of_lair.left  { background-image: url('/images/buildings/endOfLairLeft.jpg'); }
ul#rooms li.end_of_lair.right { background-image: url('/images/buildings/endOfLairRight.jpg'); }
ul#rooms li.room.elevator { height: 100px; margin: 0; padding: 0; }
ul#rooms li.room.elevator a { float: left; width: 100%; height: 100%; margin: 0; padding: 0; }
ul#rooms li.add_button  { width: 50px; padding: 100px 0 0 0; background-image: url('/images/theme/add_room_button.png'); background-position:0 30px; }
ul#rooms li.add_button:hover {background-position:-50px 30px;}
ul#rooms li.room div.inWorks_effortDone_progressBar { float: left; width: 65px; height: 2px; margin: 2px 5px 0 5px; background-color: #ccf; overflow:hidden; }
ul#rooms li.room div.inWorks_effortDone_progressBar .progress { float: left; height: 2px; background-color: #669; } /* widht is inline style, depending on % completed */
ul#rooms li.room p { float: left; width: 100%; text-align: center; font-size: 10px; color: #339; }

ul#rooms li.room.elevator 						{ background-image: url(/images/buildings/elevator.jpg); }
ul#rooms li.room.elevator:hover					{ background-position: 0 0; }
ul#rooms li.room.for_empty_lair 				{ background-image: url(/images/buildings/emptyLair.jpg); }

ul#rooms li.room.MainMonster 					{ background-image: url(/images/buildings/mainMonster.jpg); }
.MainMonster_BIG 								{ background-image: url(/images/buildings/mainMonster_BIG.jpg); }

ul#rooms li.room.Warehouse						{ background-image: url(/images/buildings/warehouse.jpg); }
ul#rooms li.room.Warehouse.inWorks      		{ background-image: url(/images/buildings/warehouse_inWorks.jpg); }
.Warehouse_BIG 									{ background-image: url(/images/buildings/warehouse_BIG.jpg); }

ul#rooms li.room.TradeOffice 					{ background-image: url(/images/buildings/tradeOffice.jpg); }
ul#rooms li.room.TradeOffice.inWorks    		{ background-image: url(/images/buildings/tradeOffice_inWorks.jpg); }
.TradeOffice_BIG 								{ background-image: url(/images/buildings/tradeOffice_BIG.jpg); }

ul#rooms li.room.TruffleFarm 					{ background-image: url(/images/buildings/truffleFarm.jpg); }
ul#rooms li.room.TruffleFarm.inWorks    		{ background-image: url(/images/buildings/truffleFarm_inWorks.jpg); }
.TruffleFarm_BIG 								{ background-image: url(/images/buildings/truffleFarm_BIG.jpg); }

ul#rooms li.room.Dormitories 					{ background-image: url(/images/buildings/dormitories.jpg); }
ul#rooms li.room.Dormitories.inWorks    		{ background-image: url(/images/buildings/dormitories_inWorks.jpg); }
.Dormitories_BIG 								{ background-image: url(/images/buildings/dormitories_BIG.jpg); }

ul#rooms li.room.MetalLeisureRoom 				{ background-image: url(/images/buildings/metalLeisureRoom.jpg); }
ul#rooms li.room.MetalLeisure.inWorks   		{ background-image: url(/images/buildings/metalLeisureRoom_inWorks.jpg); }
.MetalLeisureRoom_BIG 							{ background-image: url(/images/buildings/metalLeisureRoom_BIG.jpg); }

ul#rooms li.room.ChillOutLeisureRoom 			{ background-image: url(/images/buildings/chillOutLeisureRoom.jpg); }
ul#rooms li.room.ChillOutLeisureRoom.inWorks 	{ background-image: url(/images/buildings/chillOutLeisureRoom_inWorks.jpg); }
.ChillOutLeisureRoom_BIG 						{ background-image: url(/images/buildings/chillOutLeisureRoom_BIG.jpg); }

ul#rooms li.room.TechnoLeisureRoom 				{ background-image: url(/images/buildings/technoLeisureRoom.jpg); }
ul#rooms li.room.TechnoLeisure.inWorks      	{ background-image: url(/images/buildings/technoLeisureRoom_inWorks.jpg); }
.TechnoLeisureRoom_BIG 							{ background-image: url(/images/buildings/technoLeisureRoom_BIG.jpg); }

ul#rooms li.room.ReggaetonLeisureRoom 			{ background-image: url(/images/buildings/reggaetonLeisureRoom.jpg); }
ul#rooms li.room.ReggaetonLeisureRoom.inWorks 	{ background-image: url(/images/buildings/reggaetonLeisureRoom_inWorks.jpg); }
.ReggaetonLeisureRoom_BIG 						{ background-image: url(/images/buildings/reggaetonLeisureRoom_BIG.jpg); }

ul#rooms li.room.IndieRockLeisureRoom 			{ background-image: url(/images/buildings/indieRockLeisureRoom.jpg); }
ul#rooms li.room.IndieRobuildckLeisureRoom.inWorks 	{ background-image: url(/images/buildings/indieRockLeisureRoom_inWorks.jpg); }
.IndieRockLeisureRoom_BIG 						{ background-image: url(/images/buildings/indieRockLeisureRoom_BIG.jpg); }

ul#rooms li.room.Gym 							{ background-image: url(/images/buildings/gym.jpg); }
ul#rooms li.room.Gym.inWorks      				{ background-image: url(/images/buildings/gym_inWorks.jpg); }
.Gym_BIG 										{ background-image: url(/images/buildings/gym_BIG.jpg); }

ul#rooms li.room.Classroom 						{ background-image: url(/images/buildings/classroom.jpg); }
ul#rooms li.room.Classroom.inWorks      		{ background-image: url(/images/buildings/classroom_inWorks.jpg); }
.Classroom_BIG 									{ background-image: url(/images/buildings/classroom_BIG.jpg); }

ul#rooms li.room.TrainingRoom 					{ background-image: url(/images/buildings/trainingRoom.jpg); }
ul#rooms li.room.TrainingRoom.inWorks 			{ background-image: url(/images/buildings/trainingRoom_inWorks.jpg); }
.TrainingRoom_BIG 								{ background-image: url(/images/buildings/trainingRoom_BIG.jpg); }

ul#rooms li.room.Nursery 						{ background-image: url(/images/buildings/nursery.jpg); } 
ul#rooms li.room.Nursery.inWorks     			{ background-image: url(/images/buildings/nursery_inWorks.jpg); }
.Nursery_BIG 									{ background-image: url(/images/buildings/nursery_BIG.jpg);}



/*** Room details (roomAttributes) ***/

#roomAttributes { text-align: left; }
#roomAttributes .lairRoomBackground { background-color: white; background-position: bottom right; background-repeat: no-repeat; min-height: 200px; }
#roomAttributes .roomAttributes_description { float: left; width: 600px; margin: 5px 50px 5px 10px; color: #667; }
#roomAttributes .roomAttributes_description .roomAttributes_brief { float: left; padding-left:20px; background: url('/images/theme/icons/godmonster.png') no-repeat 0 3px; }
#roomAttributes .roomAttributes_info,
#roomAttributes .roomAttributes_actions { margin-top: 0.6em; margin-left: 10px; float: left; }
#roomAttributes .roomAttributes_info { width: 200px; }
#roomAttributes .roomAttributes_actions { width: 400px; }
#roomAttributes .roomAttributes_room { display: none; }
#roomAttributes .roomAttributes_room#roomAttributes_MainMonster { display: block; }
#roomAttributes span.attr { font-weight: bold; }


/*** New Rooms Avaliable ***/

#lairWindow0 { padding-top: 10px; }
.room_price_and_buy_action { margin-top: 10px; }
#lairWindow_content { padding-bottom: 20px; }

ul#newRooms { float: left; clear: both; margin: 18px 0 0 15px; padding: 0; list-style: none; }
ul#newRooms li { float: left; padding: 0px 0 0 90px; margin: 0 0 38px 28px; min-height: 100px; background: no-repeat left; background-position: -75px 0; text-align: left; }
ul#newRooms li h3.new_room_title { float: left; width: 600px; font-size: 14px; font-weight:bold; margin-top: 5px; }
ul#newRooms li > div { float: left; width: 600px; margin-top: 10px; }
ul#newRooms li .room_details { width: 570px; padding: 10px 0 170px 10px; background-position: bottom right; background-repeat: no-repeat; }

ul#newRooms li .button_box { float: left; height: 22px; line-height: 22px; margin: 0 0 10px 0; }
ul#newRooms li .button_box.disabled { background: #eee; border: 1px solid #ccc; color: #666; cursor: default; }
ul#newRooms li .button_box.disabled:hover { color: #999; cursor: default; }
ul#newRooms li .button_box a { float: left; height: 22px; padding: 0; }
ul#newRooms li .info_box { float: left; height: 24px; line-height: 22px; margin-left: 10px; }
ul#newRooms li .insuficient_garbage_message { float: left; width: 600px; }

ul#newRooms li.Warehouse                      { background-image: url(/images/buildings/warehouse.jpg); }
ul#newRooms .WarehouseDetails                 { background-image: url(/images/buildings/warehouse_BIG.jpg); }

ul#newRooms li.Gym                            { background-image: url(/images/buildings/gym.jpg);}
ul#newRooms .GymDetails                       { background-image: url(/images/buildings/gym_BIG.jpg); }

ul#newRooms  li.TradeOffice                   { background-image: url(/images/buildings/tradeOffice.jpg); }
ul#newRooms  .TradeOfficeDetails              { background-image: url(/images/buildings/tradeOffice_BIG.jpg); }

ul#newRooms li.TruffleFarm                    { background-image: url(/images/buildings/truffleFarm.jpg); }
ul#newRooms .TruffleFarmDetails               { background-image: url(/images/buildings/truffleFarm_BIG.jpg); }

ul#newRooms li.MetalLeisureRoom               { background-image: url(/images/buildings/metalLeisureRoom.jpg); }
ul#newRooms .MetalLeisureRoomDetails          { background-image: url(/images/buildings/metalLeisureRoom_BIG.jpg); }

ul#newRooms li.ChillOutLeisureRoom            { background-image: url(/images/buildings/chillOutLeisureRoom.jpg); }
ul#newRooms .ChillOutLeisureRoomDetails       { background-image: url(/images/buildings/chillOutLeisureRoom_BIG.jpg); }

ul#newRooms li.TechnoLeisureRoom              { background-image: url(/images/buildings/technoLeisureRoom.jpg); }
ul#newRooms .TechnoLeisureRoomDetails         { background-image: url(/images/buildings/technoLeisureRoom_BIG.jpg); }

ul#newRooms li.ReggaetonLeisureRoom           { background-image: url(/images/buildings/reggaetonLeisureRoom.jpg); }
ul#newRooms .ReggaetonLeisureRoomDetails      { background-image: url(/images/buildings/reggaetonLeisureRoom_BIG.jpg); }

ul#newRooms li.IndieRockLeisureRoom           { background-image: url(/images/buildings/indieRockLeisureRoom.jpg); }
ul#newRooms .IndieRockLeisureRoomDetails      { background-image: url(/images/buildings/indieRockLeisureRoom_BIG.jpg); }

ul#newRooms li.Classroom                      { background-image: url(/images/buildings/classroom.jpg);}
ul#newRooms .ClassroomDetails                 { background-image: url(/images/buildings/classroom_BIG.jpg); }

ul#newRooms li.TrainingRoom                   { background-image: url(/images/buildings/trainingRoom.jpg); }
ul#newRooms .TrainingRoomDetails              { background-image: url(/images/buildings/trainingRoom_BIG.jpg); }

ul#newRooms li.Nursery                        { background-image: url(/images/buildings/nursery.jpg); }
ul#newRooms .NurseryDetails                   { background-image: url(/images/buildings/nursery_BIG.jpg); }

ul#newRooms li.LoveWardrobe                        { background-image: url(/images/buildings/loveWardrobe.jpg); }
ul#newRooms .LoveWardrobeDetails                   { background-image: url(/images/buildings/loveWardrobe_BIG.jpg); }


/*** Search lairs ***/

#lairWindow_search_lairs { margin-top: 20px; }


/*** Building view ***/

.buildingView {
	text-align: center;
	width: 100%;
	float: left;
}

.buildingTable { margin-bottom: 18px; }
.buildingTable tr td { height: 2.5em; /*border-left: 1px solid #9C7F53; border-right: 1px solid #BDA074;*/ border-top: none; border-bottom: none; }
.buildingTable tr.myLair td { font-weight: bold; }
.buildingTable tr.trContent td { color: black; }
.buildingTable tr.trContent td a { color: black; }
.buildingTable tr.trContent:hover td { background-color: #9999cc; color: white; cursor: pointer; }
.buildingTable tr.trContent:hover td a { color: white; }
.buildingTable tr.even td { }
.buildingTable tr.odd td { }


/*** Building paginator ***/

.buildingPagers { float: left; clear: both; width: 100%; margin-top: 8px; }
.buildingPager { float: left; width: 120px; height: 50px; }
#buildingPagerLeft { margin-left: 192px; }
#buildingPagerRight { margin-left: 30px; }
div.pager_header { color: #dd4411; font-weight: bold; font-size: 12px; text-align: center; display: block; margin-bottom: 5px; }
div.pager_content a,
div.pager_content a:hover { text-decoration: none; }

.previous_link { margin-right: 5px; }
.next_link { margin-left: 5px; }


/*** Change Resources ***/

#changeGarbageForMoney_content,
#changeMoneyForGarbage_content {
	padding-bottom: 20px;
}

/*** Ranking ***/
table.rankingTable tr.myLair td { font-weight: bold; }



