
/*** Room images ***/

.MainMonster 				{ background-image: url(../images/buildings/eyeOfTheLife.jpg); }
.MainMonster_BIG 			{ background-image: url(../images/buildings/eyeOfTheLife_BIG.jpg); }
.Warehouse					{ background-image: url(../images/buildings/warehouse.jpg); }
.Warehouse_BIG 				{ background-image: url(../images/buildings/warehouse_BIG.jpg); }
.TradeOffice 				{ background-image: url(../images/buildings/tradeOffice.jpg); }
.TradeOffice_BIG 			{ background-image: url(../images/buildings/tradeOffice_BIG.jpg); }
.TruffleFarm 				{ background-image: url(../images/buildings/truffleFarm.jpg); }
.TruffleFarm_BIG 			{ background-image: url(../images/buildings/truffleFarm_BIG.jpg); }
.Dormitories 				{ background-image: url(../images/buildings/dormitories.jpg); }
.Dormitories_BIG 			{ background-image: url(../images/buildings/dormitories_BIG.jpg); }
.MetalLeisureRoom 			{ background-image: url(../images/buildings/metalLeisureRoom.jpg); }
.MetalLeisureRoom_BIG 		{ background-image: url(../images/buildings/metalLeisureRoom_BIG.jpg); }
.ChillOutLeisureRoom 		{ background-image: url(../images/buildings/chillOutLeisureRoom.jpg); }
.ChillOutLeisureRoom_BIG 	{ background-image: url(../images/buildings/chillOutLeisureRoom_BIG.jpg); }
.TechnoLeisureRoom 			{ background-image: url(../images/buildings/technoLeisureRoom.jpg); }
.TechnoLeisureRoom_BIG 		{ background-image: url(../images/buildings/technoLeisureRoom_BIG.jpg); }
.ReggaetonLeisureRoom 		{ background-image: url(../images/buildings/reggaetonLeisureRoom.jpg); }
.ReggaetonLeisureRoom_BIG 	{ background-image: url(../images/buildings/reggaetonLeisureRoom_BIG.jpg); }
.IndieRockLeisureRoom 		{ background-image: url(../images/buildings/indieRockLeisureRoom.jpg); }
.IndieRockLeisureRoom_BIG 	{ background-image: url(../images/buildings/indieRockLeisureRoom_BIG.jpg); }
.Gym 						{ background-image: url(../images/buildings/gym.jpg); }
.Gym_BIG 					{ background-image: url(../images/buildings/gym_BIG.jpg); }
.Classroom 					{ background-image: url(../images/buildings/classroom.jpg); }
.Classroom_BIG 				{ background-image: url(../images/buildings/classroom_BIG.jpg); }
.TrainingRoom 				{ background-image: url(../images/buildings/trainingRoom.jpg); }
.TrainingRoom_BIG 			{ background-image: url(../images/buildings/trainingRoom_BIG.jpg); }
.Nursery 					{ background-image: url(../images/buildings/nursery.jpg); } 
.Nursery_BIG 				{ background-image: url(../images/buildings/nursery_BIG.jpg);}
.emptyLair 					{ background-image: url(../images/buildings/emptyLair.jpg); }
.elevator 					{ background-image: url(../images/buildings/elevator.jpg); }


/*** Lair layout ***/

.lairBox {
	float: left;
	clear: both;
	margin-bottom: 10px;
	margin-left: 42px;
}

.lairBox a {
	color: #003;
	text-decoration: none;
}

.lairBackgrounds {
	margin-top: 15px;
	margin-bottom: 20px;
}

.lairRoom {
	width: 75px;
	float: left;
	font-size: 10px;
	cursor: pointer;
	background-position: 0 0;
}

.lairRoom:hover {
	background-position: 75px 0;
}

.lairBackgrounds .lairRoom {
	height: 100px;
}

.endOfLair {
	width: 20px;
	float: left;
}

.lairBackgrounds .endOfLairLeft {
	background: url(../images/buildings/endOfLairLeft.jpg) no-repeat;
	height: 100px;
}

.lairBackgrounds .endOfLairRight {
	background: url(../images/buildings/endOfLairRight.jpg) no-repeat;
	height: 100px;
}


/*** Room details (roomAttributes) ***/

#roomAttributes {
	margin-top: 10px;
	text-align: left;
}

.lairRoomBackground {
	background-color: white;
	background-position: bottom right;
	background-repeat: no-repeat;
	min-height: 200px;
}

.roomAttributes_description {
	float: left;
	margin: 5px 50px 5px 10px;
	width: 700px;
}

.roomAttributes_description .roomAttributes_brief {
    float: left;
    padding-left:20px;
    background-position: top left;
    background-image: url(../images/theme/icons/godmonster.png);
    background-repeat: no-repeat;
}

.roomAttributes_info,.roomAttributes_actions {
	margin-top: 0.6em;
	margin-left: 10px;
	float: left;
}

.roomAttributes_info {
	width: 200px;
}

.roomAttributes_actions {
	width: 400px;
}

span.attr {
	font-weight: bold;
}


/*** New Rooms Avaliable ***/

#lairWindow0 {
	padding-top: 10px;
}


/*** Search lairs ***/

#lairWindow2,#buildingWindow2 {
	margin-top: 15px;
}


/*** Building view ***/

.buildingView {
	text-align: center;
	width: 100%;
	float: left;
}

.buildingTable {
	margin-bottom: 18px;
}

.buildingTable .myLair {
	font-weight: bold;
}

.buildingTable td {
	border-left: 1px solid #9C7F53;
	border-right: 1px solid #BDA074;
	border-top: none;
	border-bottom: none;
	height: 2.5em;
}

.buildingTable .trContent:hover {
	background-color: #74603D;
	color: white;
	cursor: pointer;
}

.buildingTable .trContent:hover a {
	color: white;
}

.buildingTable .trImpar {
	background-color: #BDA074;
}

.buildingTable .trPar {
	background-color: #9C7F53;
}


/*** Building paginator ***/

.buildingPagers {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 8px;
}

.buildingPager {
	float: left;
	width: 120px;
	height: 50px;
}

#buildingPagerLeft {
	margin-left: 192px;
}

#buildingPagerRight {
	margin-left: 30px;
}

div.pager_header {
	color: #dd4411;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	display: block;
	margin-bottom: 5px;
}

div.pager_content a,
div.pager_content a:hover {
	text-decoration: none;
}

.previous_link { margin-right: 5px; }
.next_link { margin-left: 5px; }


/*** Change Resources ***/

#changeGarbageForMoney_content,
#changeMoneyForGarbage_content {
	padding-bottom: 20px;
}