

/***** Monsters List (/monsters/of_lair) *****/
#monstersList .monster_slots_container { float: left; width: 100%; }
#monstersList a { text-decoration: none; }
#monstersList a.monster_slot { float: left; margin: 15px; text-align: center; color: #999; }
#monstersList a.monster_slot:hover { text-decoration: none; color: #d41; }
#monstersList a.monster_slot img { display: block; margin: 0 auto 10px auto; }

#monstersList a.monster_slot p { display: block; line-height: 1.4em; color: #999; }
#monstersList a.monster_slot p.monster_name { color: #444; }
#monstersList a.monster_slot:hover p.monster_name { color: #d41; }
#monstersList a.monster_slot p.monster_freeTurns .value { font-weight: bold; color: #444; }
#monstersList a.monster_slot p.without.monster_freeTurns .value { font-weight: normal; color: #c44; }

/***** Monster ******/
#monsterRightBlock { float: left; margin-left: 10px; width: 490px; }
#MonsterBrief_data { float: left; margin: 4px 0 5px 10px; padding: 0; }
#image_up_wrapper { float: left; width: 480px; height: 120px; overflow: hidden; }

/***** Dead Monster *****/
#image_requiem { float: left; width: 100%; margin: 20px 0px}
#image_requiem img { border: 1px solid black; display: block; margin: auto; }
#image_requiem_bury_button { float:left; width: 100%; margin: 0 0 18px 0; }
#image_monster_dead_content img { display: bock; margin: 5px auto 15px auto; }


/******** Monster Tasks (left window) *********/

#monsterLeftBlock { float: left; width: 270px; }
#monster_tasks { float: left; width: 100%; }

#monster_tasks .free_turns { float: left; width: 240px; text-align: left; margin: 10px 10px 24px 10px; }
#monster_tasks .free_turns_label { }
#monster_tasks .free_turns_value { padding: 0 5px; font-weight: bold; }
#monster_tasks .free_turns_value.no_free_turns { color: #c44; }

#monster_tasks .monsterActionSuggestion { float: left; width: 100%; margin: 0 0 24px 0; padding: 0; }
#monster_tasks .monsterActionSuggestion img.illustration { float: left; width: 60px; height: 60px; margin: 3px 10px 0 10px; }
#monster_tasks .monsterActionSuggestion > h4, 
#monster_tasks .monsterActionSuggestion > .targetValueInfo,
#monster_tasks .monsterActionSuggestion > .input_buttons { float: left; width: 170px; margin: 0; text-align: left; font-size: 12px; margin-bottom: 5px; }
#monster_tasks .monsterActionSuggestion > h4 { font-weight: bold; font-size: 14px; }
#monster_tasks .monsterActionSuggestion > .targetValueInfo img.clickable_help { float: right; margin-right: 2px; }
#monster_tasks .monsterActionSuggestion .suggested_action_extra_data { display: none; }
#monster_tasks .monsterActionSuggestion > .input_buttons > button,
#monster_tasks .monsterActionSuggestion > .input_buttons > input { float: left; margin: 0 10px 0 0; font-size: 14px; line-height: 18px; border: 1px solid #ccc; color: #222; }
#monster_tasks .monsterActionSuggestion > .input_buttons > button { width: 32px; height: 21px; background: url('/images/theme/table2_th_fade.jpg') repeat-x left bottom; }
#monster_tasks .monsterActionSuggestion > .input_buttons > button:hover { cursor: pointer; border-color: #000; }
#monster_tasks .monsterActionSuggestion > .input_buttons > button:active { background: #eee; }
#monster_tasks .monsterActionSuggestion > .input_buttons > input { width: 38px; height: 15px; padding: 2px; }
#monster_tasks .monsterActionSuggestion > .input_buttons > button.add_all_button { margin-right: 0; }

#monster_tasks_submit,
#grow_to_adult { float: left; width: 240px; text-align: right; margin: 0 10px 10px 10px; font-size: 12px;}
#monster_tasks_submit .submit_info,
#grow_to_adult .submit_info { margin-right: 5px; } 
#monster_tasks_submit input { height: 24px; line-height: 18px; }

#grow_to_adult .button_box,
#grow_to_adult .submit_info { float: right; padding: 3px; }

#monster_tasks div.info_slot { width: 240px; margin: 0 10px 24px 10px; }
#monster_tasks div.info_slot .info_slot_content { width: 212px; }


/******** Monster Details (under the monster's illustration) *********/

#MonsterDetailsWrapper { text-align: left; margin: 3px 10px 10px 10px; float: left; }
#MonsterDetailsWrapper p { line-height: 1.6em; }
#MonsterDetailsWrapper h3 { float: left; color: #d41; margin: 0.8em 0 0.4em 0; padding: 0px; font-size: 16px; }
#MonsterDetailsWrapper ul { float: left; padding-left: 10px; width: 100%; }
#MonsterDetailsWrapper li.attribute_row { padding: 2px 0; margin: 0; cursor: help; }
#MonsterDetailsWrapper li.attribute_row .attribute_level { font-weight: bold; }
#MonsterDetailsWrapper li.attribute_row .attribute_description { color: #666; padding-left: 15px; font-size: 10px; }


/***** Eggs Management: view eggs *****/

.egg_slot {
	border: 1px solid #ccc;
	background: white url(/images/theme/table2_th_fade.jpg) repeat-x bottom;
	text-align: left;
	float: left;
	margin: 20px 0 0 28px;
	padding: 10px;
	width: 194px;
}
.egg_slot .egg_slot_img { float: left; }
.egg_slot .egg_slot_text { float: left; margin-left: 10px; }
.li-actions-title a,
.li-actions-title a:hover {
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: #030;
	margin-bottom: 5px;
}

.incubatedEggs {
	float: left; display: block;
	width: 760px; height: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: bottom left;
	padding-bottom: 293px;
}
.incubatedEggs0 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs0.png); }
.incubatedEggs1 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs1.png); }
.incubatedEggs2 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs2.png); }
.incubatedEggs3 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs3.png); }
.incubatedEggs4 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs4.png); }
.incubatedEggs5 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs5.png); }
.incubatedEggs6 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs6.png); }
.incubatedEggs7 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs7.png); }
.incubatedEggs8 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs8.png); }
.incubatedEggs9 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs9.png); }
.incubatedEggs10 {background-image: url(/images/illustrations/incubatedEggs/incubatedEggs10plus.png); } /* la imagen para cuando hay 10 o mas huevos es la misma */


/***** Eggs Management: buy eggs *****/

table.buyEggsList th.buyEggPrice,
table.buyEggsList th.vitalSpace,
table.buyEggsList th.race { cursor: help; }
table.buyEggsList td { padding: 8px; }
table.buyEggsList td img.monster_icon { vertical-align: middle; display: inline; margin-right: 10px; }
table.buyEggsList td span.race_not_available_icon { font-size: 200%; font-weight: bold; color: #999; margin-right: 10px; }
table.buyEggsList td.vitalSpace.suficient,
table.buyEggsList td.buyEggPrice.suficient { color: #393; }
table.buyEggsList td.vitalSpace.insuficient,
table.buyEggsList td.buyEggPrice.insuficient { color: #933; }


/***** Form Born Monster *****/

#bornMonsterImageWrapper {
	float: left;
	width: 450px; /* 100% - 310px padding */
	height: 285px;
	background: url('/images/illustrations/monster_borning.png') no-repeat 0 100%;
	padding: 20px 0 0 310px;
}

#bornMonster_form { float: left; margin: 20px 0 10px 0; }
#bornMonsterWindow div.field span.label { float: left; text-align: left; font-weight: bold; line-height: 1.6em; width: 100%; margin-left: 0; }
#bornMonsterWindow div.field span.entry { float: left; text-align: left; margin-top: 10px; }
#bornMonsterWindow  div.button { float: right; margin-top: 10px; }