

/***** Lista de monstruos (Monsters of Lair) *****/
table.monstersOfLair tr td img.monster_icon {
	display: inline;
	margin: 3px;
}

table.monstersOfLair tr td.without.freeTurns { color: #933;}

/******** Monster ********/

#monsterRightBlock {
	float: left;
	margin-left: 10px;
	width: 520px;
}

#MonsterBrief_data {
	float: left;
	margin: 4px 0 5px 10px;
	padding: 0;
}

#image_up_wrapper {
	float: left;
	width: 510px;
	height: 120px;
	overflow: hidden;
}


/******** Monster Tasks (left window) *********/

#monsterLeftBlock {
	float: left;
	width: 240px;
}

#monster_tasks {
	float: left;
	width: 100%;	
}

#monster_tasks div.field {
	float: left;
	width: 100%;
	padding: 6px;
}

#monster_tasks div.free_turns { text-align: left; padding-left: 10px; }
#monster_tasks span.free_turns_label { }
#monster_tasks span.free_turns_value { padding-left: 5px; font-weight: bold; }

#monster_tasks .monsterActionSuggestion_input {
	float: left;
	width: 160px;
	padding-left: 10px;
}

#monster_tasks .monsterActionSuggestion_input input {
	width: 20px;
	padding: 2px;
	margin: 3px;
}

#monster_tasks .monsterActionSuggestion_description {
	float: left;
	width: 150px;
	padding-right: 10px;
}

#monster_tasks .monsterActionSuggestion_description_actionType {
	float: left;
	width: 100%;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}

#monster_tasks .monsterActionSuggestion_description_roomType {
	float: left;
	width: 100%;
	color: #666;
	text-align: left;
	font-size: 12px;
}


#monster_tasks .end_button .button{
border:solid 1px;
background-color:green;
}

/* arreglo temporal del guille */
#monster_tasks .add_all_button{
margin: 2px;
width:17%;
}

#monster_tasks .remove_all_button{
margin: 2px;
width:17%;
}

#monster_tasks .add_turn_button{
margin: 2px;
width:10%;
}

#monster_tasks .remove_turn_button{
margin: 2px;
width:10%;
}


/******** Detalles del mosntruo (ventana debajo del dibujo del monstruo) *********/

#MonsterDetailsWrapper {
	text-align: left;
	margin: 3px 10px 10px 10px;
	float: left;
}

#MonsterDetailsWrapper h3 {
	float: left;
	color: #d41;
	margin: 0.8em 0 0.2em 0;
	padding: 0px;
	font-size: 16px;
	float: left;
}

#MonsterDetailsWrapper ul {
	padding-left: 10px;
}

.attribute_level {
	font-weight: bold;
}

.attribute_description {
	color: #666;
	padding-left: 15px;
	font-size: 10px;
}


/***** Eggs Management: view eggs *****/

.egg_slot {
	border: 1px solid #ccc;
	background: white url(/images/theme/table2_th_fade.jpg) repeat-x bottom;
	text-align: left;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	padding: 10px;
}
.egg_slot .egg_slot_img { float: left; }
.egg_slot .egg_slot_text { float: left; margin-left: 10px; }
.li-actions-title a,
.li-actions-title a:hover {
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: #030;
	margin-bottom: 5px;
}

/* Propiedades generales, pero depende del numero de huevos se pone una imagen diferente */
.incubatedEggs {
	float: left; display: block;
	width: 760px; height: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: bottom left;
	padding-bottom: 150px;
}
.incubatedEggs0 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs0.png); }
.incubatedEggs1 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs1.png); }
.incubatedEggs2 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs2.png); }
.incubatedEggs3 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs3.png); }
.incubatedEggs4 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs4.png); }
.incubatedEggs5 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs5.png); }
.incubatedEggs6 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs6.png); }
.incubatedEggs7 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs7.png); }
.incubatedEggs8 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs8.png); }
.incubatedEggs9 { background-image: url(/images/illustrations/incubatedEggs/incubatedEggs9.png); }
.incubatedEggs10 {background-image: url(/images/illustrations/incubatedEggs/incubatedEggs10plus.png); } /* la imagen para cuando hay 10 o mas huevos es la misma */


/***** Eggs Management: buy eggs *****/

table.buyEggsList th.buyEggPrice,
table.buyEggsList th.vitalSpace,
table.buyEggsList th.race { cursor: help; }
table.buyEggsList td { padding: 8px; }
table.buyEggsList td img.monster_icon { vertical-align: middle; display: inline; margin-right: 10px; }
table.buyEggsList td span.race_not_available_icon { font-size: 200%; font-weight: bold; color: #999; margin-right: 10px; }
table.buyEggsList td.vitalSpace.suficient,
table.buyEggsList td.buyEggPrice.suficient { color: #393; }
table.buyEggsList td.vitalSpace.insuficient,
table.buyEggsList td.buyEggPrice.insuficient { color: #933; }


/***** Form Born Monster *****/

#bornMonster_image {
	float: left;
	background-image: url(../images/illustrations/monster_borning.png);
	width: 302px;
	height: 300px;
	margin: 0;
	padding: 0;
}

#bornMonster_form {
	float: left;
	margin: 20px 0 10px 0;
}

#bornMonsterWindow div.field span.label {
	float: left;
	text-align: left;
	font-weight: bold;
	line-height: 1.6em;
	width: 100%;
}

#bornMonsterWindow div.field span.entry {
	float: left;
	text-align: left;
	margin-top: 10px;
}

#bornMonsterWindow  div.button {
	float: right;
	margin-top: 10px;
}