/*body{background-color:#999;color:white;padding-top:20px;font-family:helvetica;font-size:12px;text-align: center;}*/
	/*Hay que separar el div pikachoose con un margen arriba para que no tape el texto*/
.pikachoose {
	width: 610px;
	margin: 86px auto 160px auto;
}

/* This is the ul you have all your images in */
.pikachoose ul {
	width: 610px;
	margin-top:34px;
}

.pikachoose ul li {
	float: left;
	margin: 2px 5px 1px 4px;
	position: relative;
	overflow: hidden;
	border: 1px solid #000;
}

.pikachoose ul li div img {
	cursor: pointer;
}

/* this is the surroundner for all your elements. This is also the fake border around the main img and room for caption */
.pika_main {
	width: 606px;
	height: 380px;
	display: block;
	position: relative;
}

/*sine we give it the fake border, you need to position the image a little. */
.pika_main_img {
	position: absolute;
	top: 1px;
	left: 1px;
}

.pika_subdiv {
	position: relative;
	border: 0px solid #555;
	padding: 2px;
}

.pika_subdiv img,.pika_subdiv a img {
	border: 1px solid #000;
}

.pika_caption {
	width: 600px;
	color: white;
	height: 28px;
	padding: 4px 0;
	text-align: center;
	position: absolute;
	bottom: -32px;
	left: 2px;
	background: url('../images/theme/pikachoose/black.png') top left;
}

.pika_caption a {
	color: white;
}

.pika_play {
	position: absolute;
	z-index: 1;
	left: 50%;
	margin-left: -25px;
	width: 50px;
	top: 5px;
}

.pika_play a{
	position: relative;
	margin-left: auto;
	cursor: pointer;
	display: block;
	width: 48px;
	height: 48px;
}

.pika_play .pika_play_button{
    background: url('../images/theme/pikachoose/play.png') top center
        no-repeat;
}

.pika_play .pika_stop_button{
	background: url('../images/theme/pikachoose/pause.png') top center
		no-repeat;
}

.pika_navigation a {
	font-size: 12px;
	text-decoration: none;
}

.pika_navigation a:hover {
	text-decoration: underline;
}

.pika_navigation {
	padding-top: 10px;
	clear: both;
	text-align: center;
}

/* if you want to 'hide' these just make their height and width 1px */
.pika_prev_hover {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 48px;
	width: 48px;
	background: url('../images/theme/pikachoose/rewind.png') top left
		no-repeat;
}

.pika_next_hover {
	position: absolute;
	top: 5px;
	right: 5px;
	height: 48px;
	width: 48px;
	background: url('../images/theme/pikachoose/fastf.png') top right
		no-repeat;
}