/*body{background-color:#999;color:white;padding-top:20px;font-family:helvetica;font-size:12px;text-align: center;}*/
/*Hay que separar el div pikachoose con un margen arriba para que no tape el texto*/
.pikachoose{width:510px;margin:86px auto 50px auto;}
/* This is the ul you have all your images in */
.pikachoose ul{padding-left:0;width:510px;height:180px;margin:0;overflow:hidden;}
.pikachoose ul li{float: left;padding:2px; border:1px solid #FFF;background:#000;margin:0 6px 4px 0;position:relative;overflow:hidden;}
.pikachoose ul li div img{position:relative;cursor:pointer;}

/* this is the surroundner for all your elements. This is also the fake border around the main img and room for caption */
.pika_main{width:506px;height:325px;display:block;position:relative;}
/*sine we give it the fake border, you need to position the image a little. */
.pika_main_img{position:absolute;top:2px;left:2px;}
.pika_back_img{position:relative;top:0px;}
.pika_subdiv{position:relative;border:0px solid #555;background:#FFFFFF;padding:2px;}
.pika_subdiv img, .pika_subdiv a img{border:1px solid #000;}
.pika_caption{width:500px;color:white;height:16px;padding-top:4px;text-align:center;position:absolute;bottom:7px;left:3px;background:url('../images/theme/pikachoose/black.png') top left;}
.pika_caption a{color:white;}

.pika_play{position:absolute;z-index:1;left:50%;margin-left:-25px;width:50px;top:5px;}
.pika_play a{position:relative;margin-left:auto;cursor:pointer;display: block;width:1px;height:1px;background:url('../images/theme/pikachoose/play.png') top center no-repeat;}
.pika_play a{position:relative;margin-left:auto;cursor:pointer;display: block;width:1px;height:1px;background:url('../images/theme/pikachoose/pause.png') top center no-repeat;}

.pika_navigation a{font-size: 12px; text-decoration: none;}
.pika_navigation a:hover{text-decoration: underline;}
.pika_navigation{padding-top:10px;clear:both;text-align:center;}

/* if you want to 'hide' these just make their height and width 1px */
.pika_prev_hover{position:absolute;top:5px;left:5px;height:1px;width:1px;background:url('../images/theme/pikachoose/rewind.png') top left no-repeat;}
.pika_next_hover{position:absolute;top:5px;right:5px;height:1px;width:1px;background:url('../images/theme/pikachoose/fastf.png') top right no-repeat;}
