/*******************************/
/******** COMMON STYLES ********/
/*******************************/
/* Estilos de las partes comunes en las paginas del juego */

/****** Body. ******/

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px; 
	text-align: center;
	margin: 0;
	padding: 0;
}

#background_header {
	position:absolute;
	width: 100%;
	overflow: visible;
}

#inGame #background_header {
	height: 300px;
	width: 100%;
	background: #eee url(../images/theme/background_inGame_header.jpg) repeat-x top left;
}

#inGame {
    background: #eee url(../images/theme/background_inGame_repeat.jpg) repeat 0 300px;
}


/****** Window. ******/

#window {
	margin: auto;
    width: 770px;
}



/****** Standard HTML attributes. ******/


/****** Lists. ******/

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li {
	border: none;
}

/****** Links. ******/

a {
    text-decoration: none;
    color: #d41;
    border: none;
}

a:hover {
    text-decoration: underline;
}

a img {
	border: none;
}


/***** Tables *****/

.table1 {
	border: 1px  solid black;
	border-collapse: separate;
	border-spacing: 0px;
    background-color: white;
    margin: 10px auto 10px auto;
    color: black;
}

.table1 a {
	color: black;
}

.table1 th {
	height: 25px;
	padding: 0 10px 0 10px;
	border-top: none;
	border-bottom: 1px solid black;
	color: white;
	font-weight: bold;
	font-size: 14px;
	/* background-image, border-left, border-right
	  dependen del color: estan en WindowStyles.css */
}

.table1 td {
	border-top: none;
	border-right: 1px solid #fff;
	border-left: 1px solid #ddd;
	border-bottom: none;
}

.table1 .trImpar {
	background-color: #ddd;
}

.table1 .trPar {
	background-color: #fff;
}

.table2 {
	width: 97%;
	border-top: none;
	border-left: none;
	border-right: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
	border-collapse: separate;
	border-spacing: 0px;
    margin: 10px auto 10px auto;
}

.table2 th {
    background: url(../images/theme/table2_th_fade.jpg) repeat-x bottom left;
	height: 25px;
	padding: 0 10px 0 10px;
	font-weight: bold;
	font-size: 14px;
}

.table2 th.mini {
	font-weight: lighter;
	font-size: 10px;
}

.table2 td, .table2 th {
	border-top: none;
	border-right: 1px solid #fff;
	border-left: 1px solid #ddd;
	border-bottom: none;
}

.table2 .trImpar {
	background-color: #eee;
}

.table2 .trPar {
	background-color: #fff;
}

.linkRows tbody tr:hover {
	color: #dd4411;
	cursor: pointer;
}


/****** Forms. ******/

form {
    width: 100%;
    margin-bottom: 10px;
}

div.field {
    clear: both;
    padding-top: 1em;
    width: 100%;
    display: block;
}

div.field span.label {
    float: left;    
    text-align: right;
    font-weight: bold;
    width: 49%;
	line-height:1.6em;
}

div.field span.entry {
    float: right;    
    text-align: left;
    width: 49%;
}

input, select, textarea  {
	background-color: #eee;
    border: 1px solid black;
}

.end_button {
    clear: both;
    padding-top: 1em;
    text-align: center;
    width: 100%;
}

.button input, .button_box {
	border: 1px solid black;
	background-color: #999;
	background-position: 0 -2px;
	/* background-image está en WindowStyles */
	color: white;
	font-weight: bold;
	padding: 0 5px 0 5px;
	cursor: pointer;
}

.button_box a {
	color: white;
	font-weight: bold;
    text-decoration: none;
}

.button input:hover, .button_box:hover, .button_box a:hover {
	cursor: pointer;
    color: #ff9;
    text-decoration: none;
}

span.label {
    margin-left: 10px;
    text-align: left;
}

span.entry {
    margin-left: 5px;
    text-align: left;
}

span.button {
    padding-top: 1em;
    text-align: left;
    margin-left: 15px;
}

form div.p_content {
	margin: 10px 0 20px 0;
}

/****** Icons ******/

.s_ico { /* La imagen es un trozo de un "sprite" vertical donde cada icono está debajo del otro */
	float: left;
	width: 12px;
	height: 12px;
	margin-top: 0px;
	background-image: url(../images/theme/icons/small_icons.png);
	background-color: transparent;
	background-repeat: no-repeat;
	/* background-position: -12*n. Donde 'n' es el numero del icono. Esta propiedad hay que ponerla en el attr style */ 
}

.m_ico { /* La imagen es un trozo de un "sprite" vertical donde cada icono está debajo del otro */
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 0px;
	background-image: url(../images/theme/icons/medium_icons.png);
	background-color: transparent;
	background-repeat: no-repeat;
	/* background-position: -16*n. Donde 'n' es el numero del icono. Esta propiedad hay que ponerla en el attr style */ 
}

div.m_middle {
	margin: auto;
	width: 16px;
}


/*** Tooltip ***/

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid black;
	background: white url(../images/theme/table2_th_fade.jpg) repeat-x bottom left;
	padding: 5px;
}

#tooltip h3, #tooltip div { 
	margin: 0;
	text-align: left;
}

#tooltip div { 
	color: #333;
}


/****** Menu. ******/

#menu {
	width: 770px;
	height: 100px;
	margin-top: 65px;
	margin-bottom: 0px;
	cursor: default;
	float: left;
	clear: both;
}

#main_header {
	width: 770px;
	height: 100px;
	background: url(../images/theme/cabecera_main_page.png);
}

.menu_window {
	width: 145px;
	height: 100px;
	padding: 0;
	text-align: center;
}

.menu_window img {
	margin-top: 15px;
}

#logo_bottom_links {
	width: 145px;
	height: 16px;
	margin-top: 5px;
	position: relative;
	visibility: visible;
}

#options {
	width: 145px;
	margin-top: 5px;
	position: absolute;
	display: none;
}

.menu_item {
	border-top: 2px solid #eee;
	padding: 5px 0 5px 0;
	text-decoration: none;
}

.menu_item:hover {
	background: #eee;
}

#menu_box {
	width: 625px;
	height: 100px;
	margin: 0;
}

#menu_box, #menu_logo, #menu_info {
	float: left;
}

#menu_info {
	width: 615px;
	height: 25px;
	margin: 0 0 10px 10px;
	clear: both;
	overflow: hidden;
}

#menu_info_left {
	float: left;
	width: 6px;
	height: 25px;
}

#menu_info_content {
	float: left;
	width: 603px;
	height: 25px;
	text-align: left;
	color: #444;
}

#menu_info_content .menu_info_item {
	float: right;
	margin: 7px 10px 7px 5px;
	height: 12px;
}

#menu_info_content .menu_info_item span.description {
	float: left;
	margin-left: 5px;
	font-size: 10px;
}
	
#menu_info_right {
	float: left;
	width: 6px;
	height: 25px;
}

.menu_link {
	width: 115px;
	height: 65px;
	float: left;
	margin: 0 0 0 10px;
	font-size: 16px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	background-position: 0 0;
}

.menu_link:hover {
	background-position: 115px 0;
}

.menu_link .menu_text {
	width: 115px;
	height: 23px;
	margin-top: 42px;
	text-align: center;
	overflow: hidden;
}

#guarida {
	background-image: url(../images/theme/boton_guarida.png);
}

#monstruos {
	background-image: url(../images/theme/boton_monstruos.png);
}

#templos {
	background-image: url(../images/theme/boton_templos.png);
}

#alianza {
	background-image: url(../images/theme/boton_alianza.png);
}

#mensajes {
	background-image: url(../images/theme/boton_mensajes.png);
}

#menuWelcome {
    font-weight: bold;
}

#menuLinks a {
    color : #fffac6;
}



/****** Content. ******/

#content {
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 200px;
    width: 100%;
	float: left;
    clear: both;
}

div.p_header {
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	padding-left: 30px;
	display: block;
}

div.p_content {
	text-align: left;
	padding-left: 40px;
	display: block;
}

div.p_content span.label { 
    text-align: left;
    font-weight: bold;
	line-height:2.3em;
}

p.info {
	margin: 10px 10px 20px 10px;
	color: #444;
	text-align: left;
}

p.info_mini {
	margin: 5px 0px 0px 0px;
    font-size: 90%;
}

.data_row { /* Por ejemplo los datos a la derecha de la imagen del monstruo */
	float: left;
	padding: 2px;
	text-align: left;
	width: 100%;
}

.data_label {
	color: #dd4411;
	font-weight: bold;
}

.data_value {
	margin-left: 5px;
}

.cursor_help {
	cursor: help;
}

.bold {
	font-weight: bold;
}

/***** Info with icon ******/

div.info_slot {
	float: left;
	margin: 5px 10px 5px 10px;
	width: 740px;
    text-align: left;
	color: #444;
}

div.info_slot_content {
	float: left;
	width: 715px; /* info_slot.width - 25 */
}

h3.info_slot_header {
	padding: 0 0 5px 0;
	margin: 0;
	font-size: 14px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
}

/***** FlashMessages *******/

#flashMessages {
	float: left;
	width: 770px;
	margin: auto;
}

.flashMessageWrapper {
	float: left;
	width: 100%;
}

.flashMessage {
	text-align: left;
	margin: 10px 10px 0 10px;
	padding: 4px 10px 4px 8px;
	background: white url(../images/theme/table2_th_fade.jpg) repeat-x bottom;
	border: 1px solid #666;
}

.flashMessage_ERROR {
	color: #a00;
	border-color: #600;
}

/****** Error messages. ******/

.errorMessage {
    font-weight: bold;
    color: red;
    display: block;
}

.actionInfo_ERROR {
	border: 1px solid red;
	width: 75%;
	margin: auto;
	display: block;
	padding: 5px;
	margin-top: 10px;
}

.actionInfo_INFO {
	border: 1px solid green;
	width: 75%;
	margin: auto;
	display: block;
	padding: 5px;
	margin-top: 10px;
}


/****** Footer. ******/

#footer {
    padding-top: 5px;
    text-align: center;
    width: 100%;
    float: left;
    clear: both;
}