/*******************************/
/******* ROUNDED WINDOWS *******/
/*******************************/

/* CSS of the windows from the customtag window.tagx */

.window_header {
	font-size: 16px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	text-align: left;
	padding-top: 4px;
	float: left;
}

.window_tags {
	padding: 0;
	margin: 0;
	float: right;
	height: 100%;
}

.window_tag {
	font-size: 14px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	text-align: middle;
	height: 100%;
	float: left;
	padding-right: 5px;
	padding-left: 10px;
	line-height: 28px;
}

.window_tag div {
	height: 100%;
}
.window_active_tag:hover {
	cursor: default;
}
.window_inactive_tag:hover {
	cursor: pointer;
    color: #ff9;
}

.rounded_window {
	float: left;
	margin-bottom: 10px;
}

.rounded_window .atTop {
	height: 31px;
}
.rounded_window .atTop .tl {
	width: 5px; 
	height: 31px;
}
.rounded_window .atTop .tm {
	height: 31px;
}
.rounded_window .atTop .tr {
	width: 5px;
	height: 31px;
}
.rounded_window .atMiddle .m {
	margin: 0 5px 0 5px;
}

.rounded_window .atBottom {
	height: 5px;
}
.rounded_window .atBottom .bl {
	width: 5px;
	height: 5px;
}
.rounded_window .atBottom .bm {
	height: 5px;
}
.rounded_window .atBottom .br {
	width: 5px; 
	height: 5px;
}
.rounded_window .content_box {
	overflow: hidden;
}


/* Green window images */

.green_window {
	color: #030;
}
.green_window .menu_window {
	background: url(../images/theme/windows/green/menu_frame.png) top left;
}
.green_window #menu_info_left {
	background: url(../images/theme/windows/green/menu_bar_left.png) no-repeat;
}
.green_window #menu_info_content {
	background: url(../images/theme/windows/green/menu_bar_middle_repeat-x.png) repeat-x;
}
.green_window #menu_info_right {
	background: url(../images/theme/windows/green/menu_bar_right.png) no-repeat;
}
.green_window .window_tag {
	background: url(../images/theme/windows/green/tag_separation.png) no-repeat top left;
}
.green_window .window_active_tag {
	background: url(../images/theme/windows/green/tag_selected.png) no-repeat 50% 100%;
}
.green_window .tl {
	background: url(../images/theme/windows/green/corner_tl.png);
}
.green_window .tm {
	background: url(../images/theme/windows/green/header_repeat-x.png);
}
.green_window .tr {
	background: url(../images/theme/windows/green/corner_tr.png);
}
.green_window .mlt {
	background: url(../images/theme/windows/green/border_left_top.png) no-repeat top left;
}
.green_window .mrt {
	background: url(../images/theme/windows/green/border_right_top.png) no-repeat top  right;
}
.green_window .ml {
	background: url(../images/theme/windows/green/border_left_repeat-y.png) repeat-y left;
}
.green_window .mr {
	background: url(../images/theme/windows/green/border_right_repeat-y.png) repeat-y right;
}
.green_window .bl {
	background: url(../images/theme/windows/green/corner_bl.png);
}
.green_window .bm {
	background: url(../images/theme/windows/green/border_bottom_repeat-x.png);
}
.green_window .br {
	background: url(../images/theme/windows/green/corner_br.png);
}
.green_window .content_box {
	background: white;
}
.green_window div.p_header {
    color: #474;
}
.green_window .table1 th {
	background-image: url(../images/theme/windows/green/button.png);
	border-left: 1px solid #030;
	border-right: 1px solid #696;
}

.green_window .button input, .green_window .button_box {
	background-image: url(../images/theme/windows/green/button.png);
}


/* Blue window images */

.blue_window {
	color: #003;
}
.blue_window .menu_window {
	background: url(../images/theme/windows/blue/menu_frame.png) top left;
}
.blue_window #menu_info_left {
	background: url(../images/theme/windows/blue/menu_bar_left.png) no-repeat;
}
.blue_window #menu_info_content {
	background: url(../images/theme/windows/blue/menu_bar_middle_repeat-x.png) repeat-x;
}
.blue_window #menu_info_right {
	background: url(../images/theme/windows/blue/menu_bar_right.png) no-repeat;
}
.blue_window .window_tag {
	background: url(../images/theme/windows/blue/tag_separation.png) no-repeat top left;
}
.blue_window .window_active_tag {
	background: url(../images/theme/windows/blue/tag_selected.png) no-repeat 50% 100%;
}
.blue_window .tl {
	background: url(../images/theme/windows/blue/corner_tl.png);
}
.blue_window .tm {
	background: url(../images/theme/windows/blue/header_repeat-x.png);
}
.blue_window .tr {
	background: url(../images/theme/windows/blue/corner_tr.png);
}
.blue_window .mlt {
	background: url(../images/theme/windows/blue/border_left_top.png) no-repeat top left;
}
.blue_window .mrt {
	background: url(../images/theme/windows/blue/border_right_top.png) no-repeat top  right;
}
.blue_window .ml {
	background: url(../images/theme/windows/blue/border_left_repeat-y.png) repeat-y left;
}
.blue_window .mr {
	background: url(../images/theme/windows/blue/border_right_repeat-y.png) repeat-y right;
}
.blue_window .bl {
	background: url(../images/theme/windows/blue/corner_bl.png);
}
.blue_window .bm {
	background: url(../images/theme/windows/blue/border_bottom_repeat-x.png);
}
.blue_window .br {
	background: url(../images/theme/windows/blue/corner_br.png);
}
.blue_window .content_box {
	background: white;
}
.blue_window div.p_header {
    color: #447;
}
.blue_window .table1 th {
	background-image: url(../images/theme/windows/blue/button.png);
	border-left: 1px solid #003;
	border-right: 1px solid #669;
}
.blue_window .button input, .blue_window .button_box {
	background-image: url(../images/theme/windows/blue/button.png);
}


/* Purple window images */

.purple_window {
	color: #303;
}
.purple_window .menu_window {
	background: url(../images/theme/windows/purple/menu_frame.png) top left;
}
.purple_window #menu_info_left {
	background: url(../images/theme/windows/purple/menu_bar_left.png) no-repeat;
}
.purple_window #menu_info_content {
	background: url(../images/theme/windows/purple/menu_bar_middle_repeat-x.png) repeat-x;
}
.purple_window #menu_info_right {
	background: url(../images/theme/windows/purple/menu_bar_right.png) no-repeat;
}
.purple_window .window_tag {
	background: url(../images/theme/windows/purple/tag_separation.png) no-repeat top left;
}
.purple_window .window_active_tag {
	background: url(../images/theme/windows/purple/tag_selected.png) no-repeat 50% 100%;
}
.purple_window .tl {
	background: url(../images/theme/windows/purple/corner_tl.png);
}
.purple_window .tm {
	background: url(../images/theme/windows/purple/header_repeat-x.png);
}
.purple_window .tr {
	background: url(../images/theme/windows/purple/corner_tr.png);
}
.purple_window .mlt {
	background: url(../images/theme/windows/purple/border_left_top.png) no-repeat top left;
}
.purple_window .mrt {
	background: url(../images/theme/windows/purple/border_right_top.png) no-repeat top  right;
}
.purple_window .ml {
	background: url(../images/theme/windows/purple/border_left_repeat-y.png) repeat-y left;
}
.purple_window .mr {
	background: url(../images/theme/windows/purple/border_right_repeat-y.png) repeat-y right;
}
.purple_window .bl {
	background: url(../images/theme/windows/purple/corner_bl.png);
}
.purple_window .bm {
	background: url(../images/theme/windows/purple/border_bottom_repeat-x.png);
}
.purple_window .br {
	background: url(../images/theme/windows/purple/corner_br.png);
}
.purple_window .content_box {
	background: white;
}
.purple_window div.p_header {
    color: #747;
}
.purple_window .table1 th {
	background-image: url(../images/theme/windows/purple/button.png);
	border-left: 1px solid #303;
	border-right: 1px solid #969;
}
.purple_window .button input, .purple_window .button_box {
	background-image: url(../images/theme/windows/purple/button.png);
}


/* Red window images */

.red_window {
	color: #300;
}
.red_window .menu_window {
	background: url(../images/theme/windows/red/menu_frame.png) top left;
}
.red_window #menu_info_left {
	background: url(../images/theme/windows/red/menu_bar_left.png) no-repeat;
}
.red_window #menu_info_content {
	background: url(../images/theme/windows/red/menu_bar_middle_repeat-x.png) repeat-x;
}
.red_window #menu_info_right {
	background: url(../images/theme/windows/red/menu_bar_right.png) no-repeat;
}
.red_window .window_tag {
	background: url(../images/theme/windows/red/tag_separation.png) no-repeat top left;
}
.red_window .window_active_tag {
	background: url(../images/theme/windows/red/tag_selected.png) no-repeat 50% 100%;
}
.red_window .tl {
	background: url(../images/theme/windows/red/corner_tl.png);
}
.red_window .tm {
	background: url(../images/theme/windows/red/header_repeat-x.png);
}
.red_window .tr {
	background: url(../images/theme/windows/red/corner_tr.png);
}
.red_window .mlt {
	background: url(../images/theme/windows/red/border_left_top.png) no-repeat top left;
}
.red_window .mrt {
	background: url(../images/theme/windows/red/border_right_top.png) no-repeat top  right;
}
.red_window .ml {
	background: url(../images/theme/windows/red/border_left_repeat-y.png) repeat-y left;
}
.red_window .mr {
	background: url(../images/theme/windows/red/border_right_repeat-y.png) repeat-y right;
}
.red_window .bl {
	background: url(../images/theme/windows/red/corner_bl.png);
}
.red_window .bm {
	background: url(../images/theme/windows/red/border_bottom_repeat-x.png);
}
.red_window .br {
	background: url(../images/theme/windows/red/corner_br.png);
}
.red_window .content_box {
	background: white;
}
.red_window div.p_header {
    color: #744;
}
.red_window .table1 th {
	background-image: url(../images/theme/windows/red/button.png);
	border-left: 1px solid #300;
	border-right: 1px solid #966;
}
.red_window .button input, .red_window .button_box {
	background-image: url(../images/theme/windows/red/button.png);
}



/* Yellow window images */

.yellow_window {
	color: #330;
}
.yellow_window .menu_window {
	background: url(../images/theme/windows/yellow/menu_frame.png) top left;
}
.yellow_window #menu_info_left {
	background: url(../images/theme/windows/yellow/menu_bar_left.png) no-repeat;
}
.yellow_window #menu_info_content {
	background: url(../images/theme/windows/yellow/menu_bar_middle_repeat-x.png) repeat-x;
}
.yellow_window #menu_info_right {
	background: url(../images/theme/windows/yellow/menu_bar_right.png) no-repeat;
}
.yellow_window .window_tag {
	background: url(../images/theme/windows/yellow/tag_separation.png) no-repeat top left;
}
.yellow_window .window_active_tag {
	background: url(../images/theme/windows/yellow/tag_selected.png) no-repeat 50% 100%;
}
.yellow_window .tl {
	background: url(../images/theme/windows/yellow/corner_tl.png);
}
.yellow_window .tm {
	background: url(../images/theme/windows/yellow/header_repeat-x.png);
}
.yellow_window .tr {
	background: url(../images/theme/windows/yellow/corner_tr.png);
}
.yellow_window .mlt {
	background: url(../images/theme/windows/yellow/border_left_top.png) no-repeat top left;
}
.yellow_window .mrt {
	background: url(../images/theme/windows/yellow/border_right_top.png) no-repeat top  right;
}
.yellow_window .ml {
	background: url(../images/theme/windows/yellow/border_left_repeat-y.png) repeat-y left;
}
.yellow_window .mr {
	background: url(../images/theme/windows/yellow/border_right_repeat-y.png) repeat-y right;
}
.yellow_window .bl {
	background: url(../images/theme/windows/yellow/corner_bl.png);
}
.yellow_window .bm {
	background: url(../images/theme/windows/yellow/border_bottom_repeat-x.png);
}
.yellow_window .br {
	background: url(../images/theme/windows/yellow/corner_br.png);
}
.yellow_window .content_box {
	background: white;
}
.yellow_window div.p_header {
	background: white;
	color: #774;
}
.yellow_window .table1 th {
	background-image: url(../images/theme/windows/yellow/button.png);
	border-left: 1px solid #330;
	border-right: 1px solid #996;
}
.yellow_window .button input, .yellow_window .button_box {
	background-image: url(../images/theme/windows/yellow/button.png);
}


/* Grey window images */

.grey_window {
	color: #111;
}
.grey_window .menu_window {
	background: url(../images/theme/windows/grey/menu_frame.png) top left;
}
.grey_window #menu_info_left {
	background: url(../images/theme/windows/grey/menu_bar_left.png) no-repeat;
}
.grey_window #menu_info_content {
	color: black;
	background: url(../images/theme/windows/grey/menu_bar_middle_repeat-x.png) repeat-x;
}
.grey_window #menu_info_right {
	background: url(../images/theme/windows/grey/menu_bar_right.png) no-repeat;
}
.grey_window .window_tag {
	background: url(../images/theme/windows/grey/tag_separation.png) no-repeat top left;
}
.grey_window .window_active_tag {
	background: url(../images/theme/windows/grey/tag_selected.png) no-repeat 50% 100%;
}
.grey_window .tl {
	background: url(../images/theme/windows/grey/corner_tl.png);
}
.grey_window .tm {
	background: url(../images/theme/windows/grey/header_repeat-x.png);
}
.grey_window .tr {
	background: url(../images/theme/windows/grey/corner_tr.png);
}
.grey_window .mlt {
	background: url(../images/theme/windows/grey/border_left_top.png) no-repeat top left;
}
.grey_window .mrt {
	background: url(../images/theme/windows/grey/border_right_top.png) no-repeat top  right;
}
.grey_window .ml {
	background: url(../images/theme/windows/grey/border_left_repeat-y.png) repeat-y left;
}
.grey_window .mr {
	background: url(../images/theme/windows/grey/border_right_repeat-y.png) repeat-y right;
}
.grey_window .bl {
	background: url(../images/theme/windows/grey/corner_bl.png);
}
.grey_window .bm {
	background: url(../images/theme/windows/grey/border_bottom_repeat-x.png);
}
.grey_window .br {
	background: url(../images/theme/windows/grey/corner_br.png);
}
.grey_window .content_box {
	background: white;
}
.grey_window div.p_header {
	color: #444;
}
.grey_window .table1 th {
	background-image: url(../images/theme/windows/grey/button.png);
	border-left: 1px solid #333;
	border-right: 1px solid #999;
}
.grey_window .button input, .grey_window .button_box {
	background-image: url(../images/theme/windows/grey/button.png);
}
