<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<distributable />

	<!-- instantiates the spring application context -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- location of main spring app context configuration -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	
	<!--
		======================= Standard TagLibs configuration ==============
	-->

	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>es.engade.thearsmonsters.http.view.messages.Messages</param-value>
	</context-param>

	<!--
		======================== Front controller configuration =============
	-->

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/Struts/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<!--
		====================== Servlet mapping ==============================
	-->

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!--
		============================= Session ===============================
	-->

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!--
		=========================== Welcome page ============================
	-->

	<welcome-file-list>
		<welcome-file>wellcome.do</welcome-file>
	</welcome-file-list>

	<!--
		========================== Environment entries ======================
	-->
</web-app>
